<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Azione</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td><button type ="button" class="btn btn-primary">Modifica</button>&nbsp;<button type ="button" class="btn btn-danger">Cancella</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td><button type ="button" class="btn btn-primary">Modifica</button>&nbsp;<button type ="button" class="btn btn-danger">Cancella</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td><button type ="button" class="btn btn-primary">Modifica</button>&nbsp;<button type ="button" class="btn btn-danger">Cancella</button></td>
      </tr>
    </tbody>
  </table>

  
  
